/* home page button */
#usernotes {
    color: #142B58;

}

ul{
  list-style-type: none;
  margin: 30px;
  padding: 30px;

}

#container {
  width: 80%;
  border-radius: 25px;
  border: 2px solid Black;
  padding: 15px 15px 15px 15px;
  margin: 20px 20px 20px 20px;
  background: #A4D3EE;
  overflow: auto;
  box-shadow: 5px 5px 2px #888888;
  position: relative;
}

#deleteNote {
    float: right;
    background: grey;
	color: white;
    top: -10px;
    right: -10px;
    border-radius:15px;
}


/* textarea */

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.06);
  height:150px;
  padding: 30px;
}

/* submit btn */

#addNote {

  background-color: #5288DE;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* notes */
p.noteid {

    font-weight: bold;
    text-decoration: underline;
    font-family: 'Kalam', cursive;
    font-size: 1.05rem;
    margin-bottom:2px;
}


p.notedata {

    color: #142B58;
    font-weight: bold;
    margin-top: 0px;
    text-align: center;
    position: left:0px; top:0px;
    font-family: 'Kalam', cursive;
    font-size: 1.35rem;


}

li{
word-wrap: break-word;
position:relative;
margin: 25px;
width: 250px;
min-height:200px;
max-height:200px;
padding-top:5px;
 background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
display:inline-block;
border-bottom-right-radius: 60px 5px;
border:1px solid #E8E8E8;
border-top:0px solid #fdfd86;
box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
transform:rotate(-3deg);
}

/* edit page btn */
#btn_edit{

  background-color: #5288DE;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 12px;
  width: 200px;

}